.main {
    overflow: hidden;
}

.cod {
    width: 300px;
    position: relative;
    top: 100px; left: 600px;
}

.mw {
    width: 300px;
    position: relative;
    top: 100px; left: 600px;
}

.ii {
    font-size: 190px;
    position: relative;
    top: -78px; left: 905px;
    color: rgba(32, 212, 16, 0.829); 
    opacity: 1;   
}

img {
    width: 100%;
}